<!DOCTYPE html>

<html lang="en-us">

<head>
  <meta charset="UTF-8">

  <title>The Daily Leopard</title>

  {{!-- boostrap --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  {{!-- Font Awesome! --}}

  <script src="https://kit.fontawesome.com/b7ff529076.js"></script>
  <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all">

  {{!-- viewport --}}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style>
    body {
      background-color: #F2F6D0
    }

    textarea,
    input {
      display: block;
      width: 100%;
      background-color: #FCF5C7;
    }

    input {
      height: 36px;
      font-size: 24px;
    }

    textarea {
      height: 200px;
      font-size: 18px;
    }
  </style>
</head>

<body>
  {{{ body }}}
</body>

</html>