<div >
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Mongo Scraper</a>
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved" id="savedArticles">Saved Articles</a>
      </li>
      <li class="nav-item">
        <a href="/" class="btn btn-secondary scrape-new">Scrape For New Articles!</a>
      </li>
    </ul>
  </div>
</nav>
  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h1 class="display-1">The Daily Leopard</h1>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div id="articles" class="col-8 card-columns"></div>
      <div id="notes" class="col-4 "></div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="app.js"></script>